livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-deepgram
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
ddgs
requests
python-dotenv
pycaw
comtypes
screen_brightness_control
websockets
spotipy
playwright
pygetwindow
pyautogui